doctype html
html(lang='en')
  head
    link(href='https://fonts.googleapis.com/css?family=Oswald:400,300|Source+Sans+Pro:400,300', rel='stylesheet', type='text/css')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title Twilio Chat
    // CSS
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href="/css/twiliochat.css")
  body
    .container-fluid
      .row
        .col-md-4.col-md-offset-4
          .row
            #logo-column.col-md-2.col-md-offset-5
              img#logo-image(src="/img/twilio-logo.png")
          #status-row.row.disconnected
            .col-md-5.left-align
              span#delete-channel-span
                b Delete current channel
            .col-md-7.right-align
              span#status-span
                | Connected as 
                b
                  span#username-span
              span#leave-span
                b x Leave
      #container.row
        #channel-panel.col-md-offset-2.col-md-2
          #channel-list.row.not-showing
          #new-channel-input-row.row.not-showing
            textarea#new-channel-input.channel-element(placeholder='Type channel name', rows='1', maxlength='20')
          .row
            img#add-channel-image(src="/img/add-channel-image.png")
        #chat-window.col-md-4.with-shadow
          #message-list.row.disconnected
          #typing-row.row.disconnected
            p#typing-placeholder
          #input-div.row
            textarea#input-text(disabled='true', placeholder='   Your message')
          #connect-panel.disconnected.row.with-shadow
            .row
              .col-md-12
                label(for='username-input') Username: 
                input#username-input(type='text', placeholder='username')
            .row
              .col-md-12
                img#connect-image(src="/img/connect-image.png")
    // HTML Templates
    script#message-template(type='text/html').
      <div class="row no-margin">
      <div class="row no-margin message-info-row" style="">
      <div class="col-md-8 left-align"><p data-content="username" class="message-username"></p></div>
      <div class="col-md-4 right-align"><span data-content="date" class="message-date"></span></div>
      </div>
      <div class="row no-margin message-content-row">
      <div style="" class="col-md-12"><p data-content="body" class="message-body"></p></div>
      </div>
      </div>
    script#channel-template(type='text/html').
      <div class="col-md-12">
      <p class="channel-element" data-content="channelName"></p>
      </div>
    script#member-notification-template(type='text/html').
      <p class="member-status" data-content="status"></p>
    // JavaScript
    script(src='//code.jquery.com/jquery-2.2.0.min.js')
    script(src="/js/vendor/jquery-throttle.min.js")
    script(src="/js/vendor/jquery.loadTemplate-1.4.4.min.js")
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js')
    script(src="//media.twiliocdn.com/sdk/js/common/releases/0.1.5/twilio-common.js")
    script(src="//media.twiliocdn.com/sdk/js/chat/releases/0.11.1/twilio-chat.js")
    script(src="/js/twiliochat.js")
    script(src="/js/dateformatter.js")
